### **Student Information**
Name:

Student ID:

GitHub ID:

Kaggle name:

Kaggle private scoreboard snapshot: 

![pic_ranking.png](./pics/pic_ranking.png)

---

# **Instructions**

For this lab we have divided the assignments into **three phases/parts**. The `first two phases` refer to the `exercises inside the Master notebooks` of the [DM2025-Lab2-Exercise Repo](https://github.com/difersalest/DM2025-Lab2-Exercise.git). The `third phase` refers to an `internal Kaggle competition` that we are gonna run among all the Data Mining students. Together they add up to `100 points` of your grade. There are also some `bonus points` to be gained if you complete `extra exercises` in the lab **(bonus 15 pts)** and in the `Kaggle Competition report` **(bonus 5 pts)**.

**Environment recommendations to solve lab 2:**
- **Phase 1 exercises:** Need GPU for training the models explained in that part, if you don't have a GPU in your laptop it is recommended to run in Colab or Kaggle for a faster experience, although with CPU they can still be solved but with a slower execution.
- **Phase 2 exercises:** We use Gemini's API so everything can be run with only CPU without a problem.
- **Phase 3 exercises:** For the competition you will probably need GPU to train your models, so it is recommended to use Colab or Kaggle if you don't have a laptop with a dedicated GPU.
- **Optional Ollama Notebook (not graded):** You need GPU, at least 4GB of VRAM with 16 GB of RAM to run the local open-source LLM models. 

## **Phase 1 (30 pts):**

1. __Main Exercises (25 pts):__ Do the **take home exercises** from Sections: `1. Data Preparation` to `9. High-dimension Visualization: t-SNE and UMAP`, in the [DM2025-Lab2-Master-Phase_1 Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_1.ipynb). Total: `8 exercises`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 3th, 11:59 pm, Monday)`**

2. **Code Comments (5 pts):** **Tidy up the code in your notebook**. 

## **Phase 2 (30 pts):**

1. **Main Exercises (25 pts):** Do the remaining **take home exercises** from Section: `2. Large Language Models (LLMs)` in the [DM2025-Lab2-Master-Phase_2_Main Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Main.ipynb). Total: `5 exercises required from sections 2.1, 2.2, 2.4 and 2.6`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**

2. **Code Comments (5 pts):** **Tidy up the code in your notebook**. 

3. **`Bonus (15 pts):`** Complete the bonus exercises in the [DM2025-Lab2-Master-Phase_2_Bonus Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Bonus.ipynb) and [DM2025-Lab2-Master-Phase_2_Main Notebook](https://github.com/difersalest/DM2025-Lab2-Exercise/blob/main/DM2025-Lab2-Master-Phase_2_Main.ipynb) `where 2 exercises are counted as bonus from sections 2.3 and 2.5 in the main notebook`. Total: `7 exercises`. Commit your code and submit the repository link to NTU Cool **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**

## **Phase 3 (40 pts):**

1. **Kaggle Competition Participation (30 pts):** Participate in the in-class **Kaggle Competition** regarding Emotion Recognition on Twitter by clicking in this link: **[Data Mining Class Kaggle Competition](https://www.kaggle.com/t/3a2df4c6d6b4417e8bf718ed648d7554)**. The scoring will be given according to your place in the Private Leaderboard ranking: 
    - **Bottom 40%**: Get 20 pts of the 30 pts in this competition participation part.

    - **Top 41% - 100%**: Get (0.6N + 1 - x) / (0.6N) * 10 + 20 points, where N is the total number of participants, and x is your rank. (ie. If there are 100 participants and you rank 3rd your score will be (0.6 * 100 + 1 - 3) / (0.6 * 100) * 10 + 20 = 29.67% out of 30%.)   
    Submit your last submission **`BEFORE the deadline (Nov. 24th, 11:59 pm, Monday)`**. Make sure to take a screenshot of your position at the end of the competition and store it as `pic_ranking.png` under the `pics` folder of this repository and rerun the cell **Student Information**.

2. **Competition Report (10 pts)** A report section to be filled in inside this notebook in Markdown Format, we already provided you with the template below. You need to describe your work developing the model for the competition. The report should include a section describing briefly the following elements: 
* Your preprocessing steps.
* The feature engineering steps.
* Explanation of your model.

* **`Bonus (5 pts):`**
    * You will have to describe more detail in the previous steps.
    * Mention different things you tried.
    * Mention insights you gained. 

[Markdown Guide - Basic Syntax](https://www.markdownguide.org/basic-syntax/)

**`Things to note for Phase 3:`**

* **The code used for the competition should be in this Jupyter Notebook File** `DM2025-Lab2-Homework.ipynb`.

* **Push the code used for the competition to your repository**.

* **The code should have a clear separation for the same sections of the report, preprocessing, feature engineering and model explanation. Briefly comment your code for easier understanding, we provide a template at the end of this notebook.**

* Showing the kaggle screenshot of the ranking plus the code in this notebook will ensure the validity of your participation and the report to obtain the corresponding points.

After the competition ends you will have two days more to submit the `DM2025-Lab2-Homework.ipynb` with your report in markdown format and your code. Do everything **`BEFORE the deadline (Nov. 26th, 11:59 pm, Wednesday) to obtain 100% of the available points.`**

Upload your files to your repository then submit the link to it on the corresponding NTU Cool assignment.

## **Deadlines:**

![lab2_deadlines](./pics/lab2_deadlines.png)

---

Next you will find the template report with some simple markdown syntax explanations, use it to structure your content.

You can delete the syntax suggestions after you use them.

---

***

# **Project Report**

**Syntax:** `#` creates the largest heading (H1).

---
**Syntax:** `---` creates a horizontal rule (a separator line).

## 1. Model Development (10 pts Required)

**Syntax:** `##` creates a secondary heading (H2).

**Describe briefly each section, you can add graphs/charts to support your explanations.**

### 1.1 Preprocessing Steps

**Syntax:** `###` creates a tertiary heading (H3).

[Content for Preprocessing]

**Example Syntax for Content:**
*   **Bold text:** `**text**`
*   *Italic text*: `*text*`
*   Bullet point list:
    * Item 1
    * Item 2

Markdown Syntax to Add Image: `![Description of the Image](./your_local_folder/name_of_the_image.png)`

![Example Markdown Syntax to Add Image](./pics/example_md_img.png)

### 1.2 Feature Engineering Steps

[Content for Feature Engineering]

### 1.3 Explanation of Your Model

[Content for Model Explanation]

---

## 2. Bonus Section (5 pts Optional)

**Add more detail in previous sections**

### 2.1 Mention Different Things You Tried

[Content for Experiments]

### 2.2 Mention Insights You Gained

[Content for Insights]

---

**`From here on starts the code section for the competition.`**

---

# **Competition Code**

## 1. Preprocessing Steps

#### (1) 資料整理為表格

In [ ]:
### Add the code related to the preprocessing steps in cells inside this section
import json
import pandas as pd

# 讀取 JSON 檔案
file_route = "./dm-lab-2-private-competition/final_posts.json"
with open(file_route, 'r', encoding='utf-8') as file:
    data = json.load(file)

# 建立表格前的資料處理: 將值由 JSON 轉換為 key - value list
data_list = []
for records in data:
    record = records["root"]["_source"]["post"]
    post_type = records["root"]["_type"]
    data_list.append({
                    "type": post_type,
                    "post_id": record["post_id"],
                    "text": record["text"],
                    "hashtags": record["hashtags"]
                    })
#print(data_list[:5]) check

# 建立表格
data_df = pd.DataFrame(data_list)
display(data_df.head())

# 將 test/train data 與 emotion data 根據相同的 id 加入表格內
# 先建立 test/train data 與 emotion data 表格
emotion_data_df = pd.read_csv("./dm-lab-2-private-competition/emotion.csv")
data_identification_df = pd.read_csv("./dm-lab-2-private-competition/data_identification.csv")

# 使用 merge() 將 相對應的 id 資料匯入
# 匯入 emotion data
data_df = data_df.merge(emotion_data_df,
                        left_on= "post_id", # 左邊表格比較值
                        right_on= "id",     # 右邊表格比較值
                        how= "left"         # 依據左邊的 id 排列
                        )

# 匯入 train/test data
data_df = data_df.merge(data_identification_df,
                        left_on= "post_id", 
                        right_on= "id",     
                        how= "left"        
                        )
# 合併後樣式
print("合併後樣式")
display(data_df.head())

# 處理 id_x, id_y
data_df = data_df.drop(columns=["id_x","id_y"])
print("最終版本")
data_df.head()

   type   post_id                                               text hashtags
0  post  0x61fc95  We got the ranch, loaded our guns and sat up t...       []
1  post  0x35663e  I bet there is an army of married couples who ...       []
2  post  0xc78afe                         This could only end badly.       []
3  post  0x90089c  My sister squeezed a lime in her milk when she...       []
4  post  0xaba820         and that got my head bobbing a little bit.       []

合併後樣式

,type,post_id,text,hashtags,id_x,emotion,id_y,split
0,post,0x61fc95,"We got the ranch, loaded our guns and sat up t...",[],NaN,NaN,0x61fc95,test
1,post,0x35663e,I bet there is an army of married couples who ...,[],0x35663e,joy,0x35663e,train
2,post,0xc78afe,This could only end badly.,[],0xc78afe,fear,0xc78afe,train
3,post,0x90089c,My sister squeezed a lime in her milk when she...,[],0x90089c,joy,0x90089c,train
4,post,0xaba820,and that got my head bobbing a little bit.,[],NaN,NaN,0xaba820,test

最終版本

,type,post_id,text,hashtags,emotion,split
0,post,0x61fc95,"We got the ranch, loaded our guns and sat up t...",[],NaN,test
1,post,0x35663e,I bet there is an army of married couples who ...,[],joy,train
2,post,0xc78afe,This could only end badly.,[],fear,train
3,post,0x90089c,My sister squeezed a lime in her milk when she...,[],joy,train
4,post,0xaba820,and that got my head bobbing a little bit.,[],NaN,test

#### (2)Data preparation: 空值處理

In [41]:
# deal with empty value
# check dataframe total look
import helpers.data_mining_helpers as dmh
data_df.isnull()

# 感謝助教的 code 我會心懷感激的使用的
display(data_df.isnull().apply(lambda x: dmh.check_missing_values(x)))

len(data_df)

,type,post_id,text,hashtags,emotion,split
0,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:,The amoung of missing records is:
1,0,0,0,0,16281,0

64171

## 2. Feature Engineering Steps

In [ ]:
### Add the code related to the feature engineering steps in cells inside this section

## 3. Model Implementation Steps

In [ ]:
### Add the code related to the model implementation steps in cells inside this section

   type   post_id                                               text hashtags
0  post  0x61fc95  We got the ranch, loaded our guns and sat up t...       []
1  post  0x35663e  I bet there is an army of married couples who ...       []
2  post  0xc78afe                         This could only end badly.       []
3  post  0x90089c  My sister squeezed a lime in her milk when she...       []
4  post  0xaba820         and that got my head bobbing a little bit.       []